* {
	margin:0;
	padding:0;
	box-sizing: border-box;
}

html, body {
	font-family:Arial, Helvetica, sans-serif;
	height: 100%;
	background-color: #EAF0EE;

}

img {
width: 100%;
height: auto;
max-width: 350px;
}

h1 {
	margin-bottom: 16px;
	margin-top: 15px;
}

.container {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}

.nav {
	display: flex;
	justify-content: space-between;
	padding:26px 12px;
	border-bottom: 2px solid #ED553B;
	align-items: center;
}

.headline {
	font-size: 36px;
}

.links a {

	display:inline-block;
	color:black;
	text-decoration: none;
	padding-left: 10px;
	font-size: 18px;
}

.links a:hover {
	color:#ED553B;
}

.links-small {
	position: relative;
	display: none;
	cursor: pointer;
}


.hamburger {
	width:26px;
	height: 3px;
	margin:4px 0;
	background-color: #ED553B;
}

.dropdown-content {
	display: none;
	position: absolute;
	right:0;
}

.dropdown-content a {
	display: block;
	text-decoration: none;
	color: black;
	background-color: #DDE3E1;
	padding: 8px 35px;
	z-index: 1;
}



.dropdown-content a:hover {
	
	background-color: #B3B8B6	;

}

@media screen and (max-width: 600px) {
 
  .links {
  	display: none;
  }

  .links-small {
	display: inline-block;
}

.links-small:hover .dropdown-content {
	display: block;
}

	.nav {
	
	padding:20px 15px;
	
}

.headline {
	font-size: 28px;
}

}



.grid-container {

display: grid;
grid-template-columns: 1fr 1fr;

}

.box {
	display: block;
	padding:20px;
	font-size: 50px;
	text-decoration: none;
}

.box:hover{

}

.hide {
	display: none;
}

.hide:hover {
	display: inline;
}

.imghov:hover {
	max-width: 380px;
}


.white {

color: black;

}

.black {

background-color: #333333;
color: #e6e6e6;

}

.padding-left {

padding-left: 25px;

}

.menulinks {
text-decoration: none;
color: black;
}

.menulinks-black {
	color: #e6e6e6;
}

.maingrid {

display: grid;
grid-template-columns: 2fr 1fr; 
margin-top: 100px;
margin-left: 40px;
margin-right: 40px;
grid-column-gap: 10px;

}

.panelgrid {
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-column-gap: 20px;
}

.panel {
border: none;
border-radius: 6px;
padding: 20px;
box-shadow: 4px 2px #7C7F7E;
background-color: white;

}

.blur { 
opacity: 0.8;
}

.big-button {
	display: inline-block;
	background-color: #ED553B;
	padding: 30px 30px;
	text-decoration: none;
	color: #e6e6e6;
	margin-right: 20px;
	margin-bottom: 20px;
	box-shadow: 2px 1px #8E9493;
	border: none;
	letter-spacing: 2px;
	font-size: 25px;


}

.big-button:hover {
	background-color: #C74732;
}

.calender {
	background-color: #ED553B;
	padding: 15px;
}

.calender-top {
	border-bottom: 1px solid black;
	font-size: 24px;
	padding-bottom: 12px;	
}

.calender-grid {
	display: grid;
	grid-template-columns: 1fr 2fr;
	margin-top: 12px;
}

.calender-date {
	font-weight: bold;
	padding-bottom: 8px;	
}

.row {
	padding-bottom: 8px;
}

.search-box {
	font-size: 17px;
	text-align: right;
	display: block;
	text-decoration: none;

}

.searchbutton {
	font-size: 15px;
	cursor: pointer;
	border: 1px solid lightgrey;
	padding: 5px;
	text-align: center;
	background-color: #959C9B;
}

.comments {
	padding-bottom: 8px;
	border-bottom:1px solid black;
	padding-top: 5px;
	margin-top: 15px;

}

.img {
	padding: 20px;
	border: 1px solid black;

}

@media screen and (max-width: 800px) {
 
  .grid-container {

display: block;

}

.box{
height: 150px;

}

}

.max {
	width:100%;
	padding: 40px 0;
	background-color: grey;
	color: white;
	text-align: center;
}




	